@model VidlyMVC.Models.Movie
@{ ViewData["Title"] = "Exclusão de Filmes";
}

<div class="container">
    <hr />
    <h4>@ViewData["Title"]</h4>
    <hr />
    <div class="row g-3">
        <div class="col-md-12">
            <h4> @Html.DisplayFor(model => model.Name)</h4>
        </div>
        <div class="col-md-4">
            <label class="form-label">@Html.DisplayNameFor(model => model.Stock)</label>
            <label class="form-control">@Html.DisplayFor(model => model.Stock)</label>
        </div>
        <div class="col-md-6">
            <label class="form-label">@Html.DisplayNameFor(model => model.Genre.Name)</label>
            <label class="form-control">@Html.DisplayFor(model => model.Genre.Name)</label>
        </div>
        <div class="col-md-2">
            <label class="form-label">@Html.DisplayNameFor(model => model.ReleaseDate)</label>
            <label class="form-control">@Html.DisplayFor(model => model.ReleaseDate)</label>
        </div>
        <div class="col-md-2">
            <label class="form-label">@Html.DisplayNameFor(model => model.DateAdded)</label>
            <label class="form-control">@Html.DisplayFor(model => model.DateAdded)</label>
        </div>
        <div class="alert alert-danger" role="alert">
            Tem certeza que deseja excluir este registro?
        </div>
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <div class="col-md-12">
                <p>
                    <button type="submit" class="btn btn-warning">Deletar</button>
                    <a class="btn btn-primary" role="button" asp-action="Index">Voltar</a>
                </p>
            </div>
        </form>
    </div>
</div>