@model VidlyMVC.Models.Customer
@{ ViewData["Title"] = "Customer Detail";
}

<div>
    <hr />
    <h4 class="dl-horizontal">@ViewData["Title"]</h4>
    <hr />

    <h4> @Html.DisplayFor(model => model.Name)</h4>

    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.MembershipType.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MembershipType.Name)
        </dd>
        @if (Model.Birthdate.HasValue)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Birthdate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Birthdate)
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>